@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Slab:wght@400;800&display=swap");
/* Fontes
font-family: 'Lora', serif;
font-family: 'Roboto Slab', serif;  */

/* Paleta
  Orchid: #DA70D6
  Medium Orchid: #BA55D3
  dark magenta: #8B008B */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

/* Menu ao lado */

nav {
  margin-top: 2rem;
}

#profile-picture {
  height: 150px;
  border: 5px solid #ba55d3;
  border-radius: 50%;
}

#profile-picture:hover {
  border: 5px solid #da7df1;
  border-radius: 50%;
}

aside {
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #da70d6;
  box-sizing: border-box;
  text-align: center;
}

#side-content {
  margin-top: 50%;
}

main {
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 25%;
  box-sizing: border-box;
  text-align: center;
}

#main-content,
#obj-content {
  position: absolute;
  top: 25%;
}

#list-menu {
  font-family: "Roboto Slab", serif;
  font-weight: 800;
  list-style-type: none;
  padding: 0px;
  list-style-position: inside;
}

nav {
  font-size: 1, 5rem;
  line-height: 30px;
}

li a {
  text-decoration: none;
  color: #8b008b;
}

li a:hover {
  color: white;
}

li a:active {
  color: #ba55d3;
}

/* Página Principal */

#adress {
  font-family: "Roboto Slab", serif;
  font-size: 1, 5rem;
  text-align: left;
  margin-left: 1rem;
  padding: 0;
}

#adress a {
  text-decoration: none;
  color: #ba55d3;
}

#adress a:visited {
  color: #ba55d3;
}

#bio {
  font-family: "Lora", serif;
  font-size: 1rem;
  text-align: left;
  margin: 2rem 1rem;
}

#bio a {
  text-decoration: none;
  color: black;
}

#bio span {
  color: #e16e0e;
}

#social {
  font-family: "Lora", serif;
  font-size: 1rem;
  text-align: left;
  margin-left: 1rem;
  padding: 0;
}

#social-list {
  list-style-type: none;
  padding: 0;
}

#social-list a:hover {
  opacity: 70%;
}

.social-align {
  margin-top: 25px;
  float: left;
}

.social-icon {
  margin-left: 2rem;
}

.color-text {
  color: #ba55d3;
}
ul li img {
  height: 4rem;
}

/* Conhecimentos */

#list-bg-kno {
  list-style-type: lower-alpha;
}

/* Objectives */
#list-bg-obj {
  list-style-type: circle;
}

.li-title {
  list-style-type: square;
  font-weight: 800;
}

#obj-content {
  top: 15%;
  width: 90%;
}

/* Geral */

#list-bg-kno,
#list-bg-obj {
  margin-left: 20px;
}

.page-title {
  font-family: "Roboto Slab", serif;
  font-size: 5rem;
  text-align: left;
  font-weight: 800;
  box-sizing: border-box;
}

.page-title p {
  margin: 0 0 0 1rem;
}

.page-title a {
  text-decoration: none;
  color: black;
}

.page-text {
  font-family: "Roboto Slab", serif;
  font-size: 1, 5rem;
  text-align: left;
  margin-left: 1rem;
  padding: 0;
}

.list-bg {
  padding: 20px;
  display: block;
  font-size: 1.5rem;
  line-height: 3rem;
  background-color: #da70d6;
  border-radius: 2%;
  border: 2px dashed;
  width: 100%;
}
