body,
html {
  height: 100%;
  margin: 0px;
}

#page {
  display: flex;
  height: 100%;
}

#profile-picture {
  height: 150px;
  border: 5px solid;
  border-radius: 50%;
}

#side-content {
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#main {
  width: 74%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#list-menu{
    list-style-type: none;
    padding: 0px;
    list-style-position: inside;
}

nav {
    font-size: 1,5rem;
    line-height: 30px;
}